.App {
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 60%;
}

th {
  background-color: #04AA6D;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
  border-collapse: collapse;
  padding: 20px;
}

td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

td:nth-child(even) {background-color: #f2f2f2;}

